authlib==1.6.5
bcrypt==5.0.0
beautifulsoup4==4.13.4
blinker==1.9.0
cachetools==5.5.2
certifi==2025.7.14
cffi==2.0.0
charset-normalizer==3.4.2
click==8.2.1
cryptography==46.0.3
flask==3.1.1
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-vision==3.10.2
googleapis-common-protos==1.70.0
grpcio==1.74.0
grpcio-status==1.74.0
idna==3.10
itsdangerous==2.2.0
jinja2==3.1.6
lxml==6.0.0
markupsafe==3.0.2
proto-plus==1.26.1
protobuf==6.32.0
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.23
requests==2.32.4
rsa==4.9.1
soupsieve==2.7
typing-extensions==4.14.1
urllib3==2.5.0
werkzeug==3.1.3

