<!DOCTYPE html>
<html>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
  <div style="background-color: #ffffff; width: 100%; max-width: 600px; margin: 30px auto; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
    
    

    <!-- Content -->
    <div style="padding: 20px; color: #333333; text-align: center;">
      <p style="margin: 15px 0;">Hola {{nombre}},</p>
      <p style="margin: 15px 0;">¡Ayúdanos a seguir creciendo!</p>
      <p style="margin: 15px 0;">
        Invita a tus contactos a registrarse y que reciban la misma información y alertas de vencimientos que tú.
      </p>
      
      <!-- Caja de copiar y pegar -->
      <div style="background-color: #d4f8e8; color: #333333; border: 1px solid #b2ebd2; border-radius: 6px; padding: 15px; font-size: 14px; text-align: left; margin: 20px auto;">
        <strong style="display: block; font-size: 15px; margin-bottom: 22px;">Copia este mensaje en WhatsApp:</strong>
        
        <p style="margin: 0 0 16px 0;">
          Te recomiendo <b>No Pasa Nada PE</b>, un <u>servicio gratuito</u> que te avisa sobre:
        </p>
        
        <ul style="padding-left: 20px; margin: 16px 0;">
          <li style="margin-bottom: 6px;">Vencimientos de documentos (SOAT, Revisión Técnica, Licencia de Conducir).</li>
          <li style="margin-bottom: 6px;">Multas en SUTRAN o en SAT.</li>
          <li style="margin-bottom: 6px;">Otra información importante (Afiliaciones a Partidos Políticos, Líneas Telefónicas a tu nombre, etc.).</li>
        </ul>
        
        <p style="margin: 14px 0 0 0; white-space: nowrap;">
          ✅ Yo ya lo uso y funciona muy bien — Regístrate aquí 👉 https://nopasanadape.com
        </p>
      </div>

      <p style="margin: 15px 0;">Gracias por seguir confiando en nosotros.</p>
    </div>

    <!-- Footer -->
    <div style="background-color: #007BFF; color: #ffffff; padding: 15px; border-radius: 8px 8px 0 0; text-align: center; font-size: 24px;">
      No Pasa Nada PE
    </div>
    <div style="text-align: center; font-size: 12px; color: #888888; margin-top: 20px;">
      &copy; 2025 No Pasa Nada PE
    </div>
  </div>

  <!-- Metadatos ocultos -->
  <meta content="{{to}}" name="to"/>
  <meta content="{{bcc}}" name="bcc"/>
  <meta content="{{subject}}" name="subject"/>
  <meta content="{{idMember}}" name="idMember"/>
  <meta content="{{timestamp}}" name="timestamp"/>
  <meta content="{{hashcode}}" name="hashcode"/>

</body>
</html>
